@Html.Partial("../Shared/_MenuCarroselCadastro")
<div class="container">
    <h3><strong>Bem-vindo ao sistema.</strong></h3>
    <br>
    <p>
        Utilize o menu superior para negevar nas funcionalidades, ou acesse rapidamente:
    </p>
    <div class="container_dashboard">
        <a href="/Turma" target="_self">
            <div class="box_individual box_green">
                <img src="images/icon_dashboard.png">
                <span>Turmas</span>
            </div>
        </a>
        @*  <a href="#" target="_self">
                    <div class="box_individual box_blue">
                        <img src="images/icon_ajustes.png">
                        <span>Configurações</span>
                    </div>
                </a>*@

        <a href="/Agendamento" target="_self">
            <div class="box_double box_red">
                <img src="images/icon_cadastro.png">
                <span>Agendamento</span>
            </div>
        </a>

        @* <a href="#" target="_self">
                    <div class="box_four box_white">
                        <div class="box_title"><span><strong>Exemplo de titulo</strong></span></div>
                        <img src="images/graphic.jpg" />
                    </div>
                </a>*@


    </div>
</div>



