@model string
@{
    Layout = null;    
}


<!-- Modal -->
<div id="myModalSucesso" style="top:35%;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 id="myModalLabel">
            <img src="~/Images/1372986121_Tick.png" style="width:80px;height:80px;" />Sucesso</h1>
    </div>
    <div class="modal-body">
        <p class="alert alert-sucess"> A ação foi efetuada com sucesso!</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</div>

<a id="modalSucesso" href="#myModalSucesso" role="button" class="btn hide"  data-toggle="modal">Excluir</a>