@model SPE.ViewModel.AlertViewModel
@{
    Layout = null;
}

<div id="ModalInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Informação" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">@Model.Titulo</h3>        
    </div>
    <div class="modal-body">
        <p>@Model.Descricao</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</div>
