@model SPE.ViewModel.AreaAtuacaoViewModel

@* This partial view defines form fields that will appear when creating and editing entities *@



<div class="editor-label">
    @Html.LabelFor(model => model.Nome)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Nome,  new { @class="input-medium"})
    @Html.ValidationMessageFor(model => model.Nome)
</div>

